<footer id="footer">
  <div class="footer-left">
    Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright | markdownify }} {{ else }} {{ print .Site.Title }} {{ end }}
  </div>

  <div class="footer-right">
    <nav>
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>

  <div class="footer-left"> 
    <img src="https://www.w3.org/Icons/valid-html20" width = "75" height = "25">
    <img src="https://www.w3.org/QA/Tools/I_heart_validator_lg" width = "75" height = "25">
  </div>
  
</footer>
