<footer>
    <img src = "https://anlucas.neocities.org/bookmark_this_page.gif">
    <hr />
    {{- partial "inject/footer.html" . -}}
    {{- partial "footer_columns.html" . -}}
    <p><small>
        
        {{ now.Format "2006" }} &copy; {{ .Site.Copyright | markdownify }}
    </small></p>
    <!-- 
    <img src="http://www.anybrowser.org/campaign/bvgraphics/earth.gif">
    
    <img src = "https://anlucas.neocities.org/neocities_button.gif">
    <img src="https://www.freebsd.org/gifs/power-button.gif">  
    <img src="https://www.w3.org/QA/Tools/I_heart_validator">
    -->
    
    
</footer>
