$color-background: black;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: rgb(241, 88, 77);
$color-meta: #F0CF65;
$color-meta-code: #666;
$color-link: rgba(212, 128, 170, 1);
$color-text: white;
$color-accent-3: #cccccc;
$color-accent-2: #eeeeee;
$color-accent-1: #2bbc8a;
$color-quote: #ccffb6;